*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 21px;
  font-family: serif;
  margin: 8px;

}

div {
  float: left;
  margin: 3% 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #E5E5E5;
  overflow: auto;
}

.heading{
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0% 0% 5% 10%;
  letter-spacing: 2px;
}

h1 {
padding: 36px 0px 0px 36px;
}

.baku {
  width: 375px;
  height: 215px;
  background: url("../images/baku.jpg") #dadada no-repeat left top;
  background-size: 100%;
}

.london {
  width: 375px;
  height: 215px;
  background: url("../images/london.png") #dadada no-repeat left top;
  background-size: 100%;
}

.madrid {
  width: 375px;
  height: 215px;
  background: url("../images/madrid.jpg") #dadada no-repeat left top;;
  background-size: 100%;
}

.rome {
  width:375px;
  height:215px;
  background: url("../images/rome.jpg") #dadada no-repeat left top;
  background-size: 100%;
}

@media screen and (min-width: 575px){

.container{
  column-count: 2;
}

/*
